<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="36599LiXinyi.DLUT" Publisher="CN=5BFEBFED-4617-448B-9077-577E2CF7ADB8" Version="1.4.0.0" />
  <mp:PhoneIdentity PhoneProductId="e53a70db-560d-45dd-b968-024a800b0201" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>DLUT无线连接助手</DisplayName>
    <PublisherDisplayName>Li_Xinyi</PublisherDisplayName>
    <Logo>Assets\120_120.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WirelessHelper.App">
      <m3:VisualElements DisplayName="DLUT无线连接助手" Square150x150Logo="Assets\360_360.png" Square44x44Logo="Assets\106_106.png" Description="WirelessHelper" ForegroundText="light" BackgroundColor="transparent" ToastCapable="true">
        <m3:LockScreen Notification="badge" BadgeLogo="Assets\58_58.png" />
        <m3:DefaultTile Wide310x150Logo="Assets\744_360.png" Square71x71Logo="Assets\170_170.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
            <m3:ShowOn Tile="wide310x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="ListenForConnecting.ListenTask">
          <BackgroundTasks>
            <m2:Task Type="deviceUse" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>